<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shiro.demo.mapper.RolePermissionMapper">
    <resultMap id="BaseResultMap" type="com.shiro.demo.model.RolePermission">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="role_name" jdbcType="VARCHAR" property="roleName"/>
        <result column="permission" jdbcType="VARCHAR" property="permission"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--
          WARNING - @mbg.generated
        -->
        id, role_name, permission
    </sql>

    <!--  // shiro 相关-->
    <select id="selectPermissionsByRoles" resultType="java.lang.String" parameterType="collection">
        SELECT permission
        FROM role_permission
        WHERE role_name in
        <foreach index="index" item="item" collection="roleSet" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
</mapper>